* {

	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

html, body, .main, .row {

	display: block;
	overflow: hidden;

	height: 100%;
	width: 100%;

	padding: 0px;
	margin: 0px;

	font-size: 14px;
}

/* main sections */

.main-left {

	height: 100%;
}

.main-left {

	background: #505050;
	transition: margin 0.3s;
}

.main-right {

	margin: 5% 0px;
}

/* intro */

.intro {

	margin: 22% auto;
	transition: margin 0.2s ease-out;
}

.intro .name {

	vertical-align: middle;

	color: white;

	font-family: 'CodeProDemoRegular', sans-serif;
	font-weight: 700;

	letter-spacing: 2px;
}

.intro p {

	width: 50%;

	margin: 0px auto;

	font-size: 16px;
	color: #F78C8C;
}

.pic {

	border-radius: 100px;
	width: 150px;
	margin: 10px;
}

/* search section */

.search {

	padding: 25px;
	padding-left: 50px;

}

.search .glyphicon {

	position: absolute;
	padding-top: 38px;
	padding-left: 20px;
}

.search input {

	height: 3em;
	width: 100%;

	border-radius: 25px;
}

input:focus {

    outline: 0;
}


/* does and doing section */

.does, .doing {

	margin-top: 15px;
}

.does ul, .doing ul {

	margin: 10px;
	padding: 0px 10px;

	list-style: none;
}

.does li {

	display: inline-block;
	padding: 15px;
}

.doing li {

	display: block;
	padding: 10px;
}

.does img {

	width: 60px;
}

.does li a, .does li a:visited {

	text-decoration: none;
	color: black;

}

.heading {

	width: 80%;

	margin: 10px auto;
	padding: 10px 5px;

}

a, a:hover {

	text-decoration: none;
}


/* adjustments for mobile screen */

@media screen and (max-width:768px) {

	html, body, .main {

		height: auto;
		min-width: 300px;
	}

	.main-left {

		height: 35%;
	}

	.search {

		padding: 0;
		width: 100%;
	}

	.search .glyphicon {

		padding-top: 14px;
	}

	.intro p {

		width: 90%;
	}

}