<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Saravanan Ganesh</title>

  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

  <link href="vendor/normalize/normalize.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/codepro_regulardemo_macroman/stylesheet.css" type="text/css" charset="utf-8" />

</head>

<body>

  <div class="main container" ng-controller="LinksController">

    <div class="row">

      <div class="main-left col-md-7 col-sm-6 col-xs-12">

        <div class="intro">

          <img src="http://graph.facebook.com/1158350342/picture?type=large" class="pic">

          <h1 class="name"> SARAVANAN GANESH </h1>

          <hr width="200px">

          <p>  Computer Science Graduate @ USC <br/>
          Excited at everything that a code can solve  </p>

        </div>

      </div>

      <div class="main-right col-md-5 col-sm-6 col-xs-12">

        <div class="search">

          <span class="glyphicon glyphicon-search"></span>
          <input ng-model="query" placeholder="code, resume, social, email, blog etc.">
        </div>

      	<section class="does">

          <p class="heading"> what he does: </p>

        	<ul class="links">

          	<li class="link"  ng-repeat="item in does | filter: query">
            	<a href="{{item.href}}"> <img ng-src="img/{{item.name|lowercase}}.png" alt="{{item.name}}"> </a>
          	</li>

        	</ul>

    		</section>

    		<section class="doing">

          <p class="heading"> what he is doing: </p>

          <ul class="links">

            <li class="link" ng-repeat="item in doing | filter: query | limitTo: 3 ">

              <a href="{{item.url}}"> {{item.title}} </a>

            </li>

          </ul>

    		</section>

      </div>

    </div> <!-- end of .row -->

  </div> <!-- end of .main -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <script>

    $(window).focus(function() {
        $('.lead').css('margin-top','20%');
    });

  </script>

</body>
</html>